@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* developing */
.br {
    border: 1px solid red;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    max-width: 900px;
    letter-spacing: -2px;
    line-height: 1.1em;
    padding-bottom: 0.75rem;
    background-color: #111849;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0.6) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

h2 {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    max-width: 900px;
    letter-spacing: -2px;
    line-height: 1.1em;
    padding-bottom: 0.75rem;
    background-color: #111849;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0.6) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

p {
    font-size: 16px;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    letter-spacing: -0.5px;
    line-height: 1.3em;
    text-align: center;
}

.sottotitolo {
    max-width: 600px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.paragrafo {
    max-width: 800px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.text-hover-effect {
    transition: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.text-hover-effect:hover {
    color: #0E5ECC;
    scale: 105%;
}

.text-hover-effect:focus {
    color: #0E5ECC;
    scale: 105%;
}


@media (min-width: 720px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 40px;
    }
    .sottotitolo {
        font-size: 20px;
    }
    .paragrafo {
        font-size: 20px;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 50px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 60px;
    }
    .sottotitolo {
        font-size: 22px;
    }
}

.bottoni {
    display: flex;
    gap: 8px;
    margin-top: 2.5rem;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown button {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-container {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
}

.dropdown-content {
    background-color: rgb(55 65 81);
    border-radius: 12px;
    padding: 30px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(209 213 219);
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.dropdown-content a:hover {
    color: white;
}

.dropdown:hover .dropdown-container {
    display: block;
}



/* cards css */
.card-container {
    height: 400px;
    border-radius: 20px;
    max-width: 300px;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.card-background {
    display: flex;
    flex-direction: column;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding-top: 48px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.card-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-logo svg {
    aspect-ratio: 1/1;
    width: 64px;
}

.card-title {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    text-align: center;
    font-weight: 700;
    padding-top: 2rem/* 32px */;
}

/* underline animation */
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s ease-in-out;
}
.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(white, white);
}
.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
}

/* burger animation */
.toggle #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle #line2 {
    opacity: 0;
}
.toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* dropdown mobile menu animation */
.dropdown-menu {
    height: 90vh;
    padding: 1rem 2.5rem 3rem 2.5rem;
}
.dropdown-menu-content{
    opacity: 100%;
}

/* dropdown user menu */
.dropdown-user-menu {
    opacity: 100%;
    height: 240px;
    padding: 20px;
}

@media (min-width: 1280px) {
    .dropdown-user-menu {
        height: 175px;
    }
}

/* faq animation */
#faq.active #answer {
    max-height: 1000px;
    animation: fade 0.8s ease-in-out;
}
#faq.active #plus-minus-svg #line_1 {
    opacity: 0;
}
#faq.active #plus-minus-svg #line_2 {
    transform: rotate(90deg);
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* classe active tab links */
#tab button.active {
    border-bottom: 2px solid;
    border-color: #0E5ECC;
    opacity: 1;
    color: rgb(31 41 55);
} 

/* sidebar - area personale */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    min-height: 530px;
    width: 78px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    background-color: #111849;
    transition: all 0.5s ease-in-out;
}

.sidebar.active {
    width: 240px;
    padding: 20px;
}

.sidebar .logo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
}

.sidebar.active .logo-content {
    justify-content: space-between;
    width: 100%;
}

.sidebar .logo-content .logo {
    color: #fff;
    display: none;
    height: 40px;
    width: fit-content;
    align-items: center;
    pointer-events: none;
}

.sidebar.active .logo-content .logo {
    display: flex;
    pointer-events: none;
}

.logo-content .logo img {
    height: 100%;
    margin-left: 5px;
}

.sidebar .nav-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar.active .nav-list-container {
    gap: 20px;
}

.sidebar ul {
    position: flex;
}

.sidebar ul li {
    list-style: none;
    position: relative;
    display: flex;
    width: 100%;
    height: 58px;
    justify-content: center;
    align-items: center;
}

.sidebar.active ul li {
    margin-top: 10px;
}

.sidebar ul li a {
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}

.sidebar.active ul li a {
    padding-left: 5px;
    justify-content: start;
}

.sidebar ul li a span {
    display: none;
}

.sidebar.active ul li a span {
    display: block;
}

.sidebar ul li a:hover {
    color: #111849;
    background-color: #fff;
}

.sidebar .nav-list-item a:hover svg path {
    fill: #111849;
}

.sidebar ul li a svg {
    height: 28px;
    width: 28px;
}

.sidebar.active ul li a svg {
    margin-right: 20px;
}

.sidebar .logout-content .logout {
    height: 58px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.sidebar.active .logout-content .logout {
    padding-left: 5px;
    width: 100%;
    justify-content: start;
}

.sidebar.active .logout-content .logout svg {
    margin-right: 20px;
}

.sidebar .logout-content .logout .links-name {
    display: none;
}

.sidebar.active .logout-content .logout .links-name {
    color: #fff;
    display: block;
}

.sidebar .logout-content .logout:hover {
    background-color: #fff;
}

.sidebar.active .logout-content .logout:hover .links-name {
    color: #111849;
}

.tooltip {
    position: absolute;
    height: min-content;
    width: min-content;
    left: 38px;
    line-height: 20px;
    border-radius: 6px;
    padding: 8px 16px 8px 16px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    font-size: 14px;
    transition: all 0.5s ease;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    left: 80px;
}

.sidebar.active ul li:hover .tooltip {
    display: none;
}

.logout-content .logout:hover .tooltip {
    opacity: 1;
    left: 90px;
}

.sidebar.active .logout-content .logout:hover .tooltip {
    display: none;
}